@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-jetbrains-mono) !important;
  --font-mono: var(--font-jetbrains-mono) !important;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.text-accent {
  color: #FF6B6B;
  /*bold*/
  font-weight: 800;
}


body {
  background: var(--background);
  color: var(--foreground);
}
