@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-ibm-plex-sans) !important;
  --font-mono: var(--font-jetbrains-mono) !important;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-caveat: var(--font-caveat);
  --font-ibm-plex: var(--font-ibm-plex-sans);
  --font-mono: var(--font-jetbrains-mono);
  --font-sans: var(--font-ibm-plex-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.text-accent {
  color: #dd7878;
  /*bold*/
  font-weight: 800;
}


body {
  background: var(--background);
  color: var(--foreground);
}
